:root {
	--primary: #23395d;
	--secondary: #e05a00;
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	align-content: center;
}

header {
	color: var(--primary);
}

aside {
	max-width: 20%;
	position: absolute;
}

div.how-to-use {
	margin-top: 100px;
	color: var(--primary);
}

div.how-to-use p {
	text-align: left;
	max-width: 1200px;
	margin: 10px auto;
}

div.record {
	height: 40px;
	margin: 5px 0px;
}

div.record input {
	border: none;
}

div.record-actions {
	display: inline-block;
	height: 100%;
}

button.record-action {
	margin: 0 2px;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin: 5px;
	background-color: #fff;
	border: none;
	outline: none !important;
}

button.record-action:hover {
	cursor: pointer;
}

button.record-action:focus {
	background-color: #eee;
}

button.record-action img {
	height: 100%;
	width: 100%;
}

div.init-bonus {
	display: inline-block;
	/*width*/
}

div.init-bonus input {
	font-size: 20px;
	background-color: #eee;
	height: 30px;
  width: 50px;
  background-color: #eee;
  outline: none !important;
}

div.init-bonus input:hover, div.init-bonus input:focus {
	background-color: #eee;
	border-bottom: 1px solid var(--secondary)
}

button.init-btn {
	border: none;
	background-color: #fff;
	width: 20px;
	height: 100%;
	outline: none !important;
}

button.init-btn:hover {
	color: #eee;
	cursor: pointer;
}

div.init-value input.init-value-input {
	font-size: 20px;
	background-color: #eee;
  height: 30px;
  margin: 0 5px;
  width: 100px;
  background-color: #eee;
  outline: none !important;
}

div.init-value input:hover, div.init-value input:focus {
	background-color: #eee;
	border-bottom: 1px solid var(--secondary)
}

label.init-label {
	margin: 0 5px;
	font-size: 20px;
}

label.init-label-result {
	width: 50px;
	display: inline-block;
	text-align: left;
}

input.record-name {
	font-size: 20px;
	height: 30px;
  margin: 0 5px;
  width: 700px;	
  outline: none !important;
  background-color: #eee;
	border-bottom: 1px solid var(--secondary)
}

input.record-name:hover, input.record-name:focus {
	background-color: #eee;
	border-bottom: 1px solid var(--secondary)
}

div.input-wrapper {
	height: 100%;
	border: none;
	border-left: 2px solid var(--primary);
	/*border-bottom: 1px solid var(--primary);*/
	margin-right: 30px;
	padding-left: 5px;
	display: inline-block;
}

div.input-wrapper-noborder {
	height: 100%;
	border: none;
	/*border-bottom: 1px solid var(--primary);*/
	margin-right: 10px;
	padding-left: 5px;
	display: inline-block;
}

.add-record-num {
	height: 50px; 
	width: 50px; 
	margin: 0px; 
	padding: 0px; 
	display: block; 
	position: absolute; 
	left: 48%; 
	font-size: 25px;
}

input.is-num {
	text-align: right;
}